body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 
}
.background {
    background-image: url('caminho/para/sua/imagem.jpg');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem */
    position: absolute; /* Alterado para posição absoluta */
    top: 0; /* Alinha a parte superior ao topo do elemento pai */
    left: 0; /* Alinha a parte esquerda ao início do elemento pai */
    width: 100%; /* Faz a imagem ocupar toda a largura do elemento pai */
    height: 100%; /* Faz a imagem ocupar toda a altura do elemento pai */
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Adiciona posição relativa */
    z-index: 1; /* Coloca o conteúdo na frente da imagem de fundo */
}

button {
    padding: 5px 10px;
    font-size: 14px; 
    margin-top: 10px; 
    cursor: pointer;
    border: none;
    border-radius: 2px; 
    background-color: #FF0000;
    color: white;
}


button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

